@model ShotFinderMVC.Models.StoresViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Shot Finder</h1>

<div>
    <h4>Enter a Valid Zipcode - and will return all stores in 50 mile radias</h4>
    <hr />
    <dl class="row">
    </dl>
</div>

<form asp-action="FilterIndex" method="get">
    <p>
        Enter Zip: @*<input type="text" name="SearchString">*@
        @Html.TextBox("SearchString", null, new { required = "required" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="submit" value="Search" class="btn btn-sm btn-primary" />

        @Html.ValidationMessage("SearchString")
    </p>
</form>

<div class="card-group">

    <div class="card">

        <div class="card-body" style="font-size:smaller">

            <table class="table table-striped table-sm table-bordered">
            </table>
        </div>
    </div>
</div>
